body {
  background-color: #5C7AEA;

}
.profile-img{
  text-align: center;
}

h2{
  color: #ADFF2F ;
}
.contact{
  color: white;
}
h1, h3 {
  color: white;
  font-family: sans-serif;

}
p {
  color: white;
  font-family: sans-serif;
  line-height: 2rem;
}

.connect{
  color: #FF5C58;
  font-weight: bold;
  letter-spacing: 2px;
  word-spacing: 30px;

}

.div-connect{
  background-color: #005F99;
  text-align: center;
}
